:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--yellow);
  font-family: 'Figtree', sans-serif;
  display: flex;
  flex-direction: column; /* ترتيب العناصر عمودياً (البطاقة ثم التذييل) */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: var(--white);
  max-width: 384px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--black);
  box-shadow: 8px 8px 0px var(--black); 
  margin-bottom: 20px; /* مسافة بسيطة قبل التذييل */
}

.main-img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 24px;
}

.tag {
  background-color: var(--yellow);
  padding: 4px 12px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 12px;
}

.published-date {
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--black);
}

.title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 12px;
  cursor: pointer;
  transition: color 0.3s;
}

.title:hover {
  color: var(--yellow);
}

.description {
  font-size: 16px;
  color: var(--grey);
  line-height: 1.5;
  margin-bottom: 24px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 32px;
  height: 32px;
}

.author p {
  font-weight: 800;
  font-size: 14px;
}


footer.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

footer.attribution a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-weight: bold;
}

